<h1>Clients</h1>
<div id="newSearchContainter">
  <span><input type="text"><button class="btn btn-primary">Search</button></span>
  <a href="/clients/create"><button id="newcClient" class="btn btn-success">New Client</button></a>
</div>
<div>
  <ul>
    <% for (let i = 0; i < clients.length; i++ ) {%>
    <li className="clientsNames">
      <a href="/clients/<%= clients[i].id %>"><%= clients[i].name %></a>
      <a href="/clients/<%= clients[i].id %>/delete"><button class="btn btn-danger">Delete</button></a>
    </li>
    <% } %>
  </ul>
</div>
<%= errorMessage %>
