<h1>Client Details</h1>
<a href="/clients">Back to Clients</a>
<h2><%= client.name %></h2>
<p>ID: <%= client.id %></p>
<p>Email: <%= client.emailAddress %></p>
<a href="/clients/<%= client.id %>/clientEdit"><button class="btn btn-warning">Edit</button></a>