<!-- <h3>Create New Product</h3>
<form action="/products/create" method="POST">
    <label for="productName">Product Name: </label>
    <input id="productName" name="productName" type="text" value=<%= product.productName ? product.productName : '' %>> 
    <input type="hidden" id="product_id" name="product_id" value="<% product.product_id %>">
    <label for="unitCost">Unit Cost: </label>
    <input id="unitCost" name="unitCost" type="text" value=<%= product.unitCost ? product.unitCost : '' %>>
    <label for="productCode">Product Code: </label>
    <input id="productCode" name="productCode" type="text" value=<%= product.productCode ? product.productCode : '' %>>
    <button type="submit" value="Submit">Submit</button>
</form>
<%= errorMessage %> -->