<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
 
</head>
<body>
    <h1>Product Details</h1>
  
    <p>Product Name: <%= product.productName %></p>
    <p>Product Code: <%= product.productCode %></p>
    <p>Unit Cost: <%= product.unitCost %></p>
</body>
</html>