<h3><%= product_id ? "Edit" : "New" %> Product</h3>

<form action="/products/edit<%= product_id ? "/"+product_id : "" %>" method="POST">
    <input type="hidden" id="product_id" name="product_id" value="<% product_id %>">
    <label for="productName">Product Name: </label>
    <input id="productName" name="productName" type="text"
           value="<%= product.productName ? product.productName : '' %>">
           <button type="submit" value="Submit">Submit</button>
</form>
<$= errorMessage %>