<body>
    <div id="profile-body">
        <div>
            <h1><%= title %></h1>
            <ul>
                <% products.productName.forEach(product => { %>
                    <li><%= product %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>

