<h1>Profiles</h1>
<div>
  <a href="/profiles/create"><button>Create New Profile</button></a>
</div>
<div>
  <ul>
    <% for (let i = 0; i < profiles.length; i++ ) {%>
    <li>
      <a href="/profiles/<%= profiles[i].id %>"><%= profiles[i].name %></a>
      <a href="/profiles/<%= profiles[i].id %>/delete"
        ><button>Delete</button></a
      >
    </li>
    <% } %>
  </ul>
</div>
<%= errorMessage %>
