<h1>Client Details</h1>
<a href="/profiles">Back to Clients</a>
<h2><%= profile.name %></h2>
<p>ID: <%= profile.id %></p>
<p>Email: <%= profile.email %></p>
<a href="/profiles/<%= profile.id %>/profileEdit"><button class="btn btn-warning">Edit</button></a>