ul.horizontal-nav {
    list-style: none;
    padding: 0;
    margin-left: 10px;

  }
  
  /* Style for horizontal navigation */
  ul.horizontal-nav li {
    display: inline; 
    margin-right: 20px; 
  }

.form-container{
  margin-top: 20px;
}

.header-container{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.header-container>h1{
  margin-right: 30px;
  margin-left: 10px;
}

.product-container{
  margin-bottom: 20px;
  margin-top: 30px;
}

.product-container>a{
  margin-right: 20px;
}

main{
  margin-bottom: 100px;
  margin-left: 10px;
  margin-top: 25px;
}

footer{
  margin-left: 10px;
}

.searchbar{
  margin-right: 10px;
  margin-left: 10px;
}

 ul {
  list-style: none;
 }

 #clientsNames {
  margin-top: 10px;    /* Add space above each list item */
  margin-bottom: 10px; /* Add space below each list item */
  list-style: none;    /* Remove default list styles */
  padding: 0;          /* Remove default padding */
}

#clientsNames li {
  display: flex;       /* Use flex container for each list item */
  justify-content: space-between; /* Add space between name and delete button */
  align-items: center; /* Align items vertically in the center */
  padding-right: 10px; /* Add some space to the right of the list item */
}

#clientsNames a {
  text-decoration: none; /* Remove underline from anchor tags within li#clientsNames */
}


